{
  "name": "{{ service_name }}",
  "version": "1.0.0",
  "description": "{{ service_description }}",
  "main": "dist/index.js",
  "scripts": {
    "build": "tsc",
    "dev": "tsc --watch",
    "clean": "rm -rf dist",
    "package": "npm run clean && npm run build && cd dist && zip -r ../{{ service_name }}.zip .",
    "local": "npm run build && node -e \"console.log(require('./dist/index').handler({}, {}))\"",
    "test": "jest",
    "test:watch": "jest --watch",
    "test:coverage": "jest --coverage",
    "lint": "eslint src/**/*.ts",
    "lint:fix": "eslint src/**/*.ts --fix",
    "prebuild": "npm run clean"
  },
  "dependencies": {
    "@types/aws-lambda": "^8.10.140"
  },
  "devDependencies": {
    "@types/node": "^20.14.9",
    "typescript": "^5.5.3",
    "@types/jest": "^29.5.12",
    "jest": "^29.7.0",
    "ts-jest": "^29.1.5",
    "@typescript-eslint/eslint-plugin": "^7.16.0",
    "@typescript-eslint/parser": "^7.16.0",
    "eslint": "^8.57.0",
    "prettier": "^3.3.2"
  },
  "keywords": [
    "aws",
    "lambda",
    "typescript",
    "serverless"
  ],
  "author": "",
  "license": "MIT"
}
